<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Banner Article</title>
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
    <header>
           
    </header>
    <main>
        <section id="container-banner">
        <div>
            <h1 >Nuestros ingredientes</h1>    
            <p >Subheading that sets up context, shares more info about the <br> author, or generally gets people psyched to keep reading</p>
        
            <div class="banner" style="background-color: #48bfe3;">
                <img src="../assets/images/banner.png" alt="Table of food">
            </div>   
        </div>
       <!--
        <div class="text" style="background-color: #64dfdf;" >
        </div> --> 
        
    </main>
   
    </section>
</body>
</html>
