<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contactos</title>
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
    <section id="container">
        <h1>Contactos</h1>
        
        <ul class="lista-contactos">
            <li  class="contacto">
                <img src="../assets/images/helena.png" alt="Helena">
                <div  class="informacion-contacto">
                    <h2>Helena</h2>
                    <p><a href="mailto:email@figmasfakedomain.net">email@figmasfakedomain.net</a></p>
                </div>
            </li>
            <li  class="contacto">
                <img src="../assets/images/oscar.png" alt="Oscar">
                <div  class="informacion-contacto">
                    <h2>Oscar</h2>
                    <p><a href="mailto:email@figmasfakedomain.net">email@figmasfakedomain.net</a></p>
                </div>
            </li>
            <li  class="contacto">
                <img src="../assets/images/daniel.png" alt="Daniel">
                <div class="informacion-contacto">
                    <h2>Daniel</h2>
                    <p><a href="mailto:email@figmasfakedomain.net">email@figmasfakedomain.net</a></p>
                </div>
            </li>
            <li  class="contacto">
                <img src="../assets/images/jay.png" alt="Daniel Jay Park">
                <div class="informacion-contacto">
                    <h2>Daniel Jay Park</h2>
                    <p><a href="mailto:email@figmasfakedomain.net">email@figmasfakedomain.net</a></p>
                </div>
            </li>
            <li  class="contacto">
                <img src="../assets/images/mark.png" alt="Mark Rojas">
                <div class="informacion-contacto">
                    <h2>Mark Rojas</h2>
                    <p><a href="mailto:email@figmasfakedomain.net">email@figmasfakedomain.net</a></p>
                </div>
            </li>
        </ul>
    </section>
</body>
</html>
