<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/style.css">
    <title>Posts</title>
</head>
<body>
    
    <div id="post-container">
        <div class="post">
            <div class="post-header">
                <div class="post-author">
                    <img src="../assets/images/helena.png" alt="Helena">
                    <div>
                        <h4>Helena in Group name</h4>
                        <h5>3 min ago</h5>
                    </div>
                </div>
                <div class="post-more">
                    <img src="../assets/icons/More.png" alt="More">
                </div>
            </div>
            <div class="image"></div>
            <div class="post-content">
                <p>Post description</p>
            </div>
            <div class="post-footer">
                <div class="post-likes">
                    <img src="../assets/icons/Heart.png" alt="heart">2 likes
                </div>
                <div class="post-comments">
                    <img src="../assets/icons/Comment.png" alt="comment">5 comments
                </div>
            </div>
        </div>

        <div class="post">
            <div class="post-header">
                <div class="post-author">
                    <img src="../assets/images/daniel.png" alt="Daniel">
                    <div>
                        <h4>Daniel in Group name</h4>
                        <h5>5 min ago</h5>
                    </div>
                </div>
                <div class="post-more">
                    <img src="../assets/icons/More.png" alt="More">
                </div>
            </div>
            <div class="image"></div>
            <div class="post-content">
                <p>Post description</p>
            </div>
            <div class="post-footer">
                <div class="post-likes">
                    <img src="../assets/icons/Heart.png" alt="heart">21 likes
                </div>
                <div class="post-comments">
                    <img src="../assets/icons/Comment.png" alt="comment">4 comments
                </div>
            </div>
        </div>

        <div class="post">
            <div class="post-header">
                <div class="post-author">
                    <img src="../assets/images/oscar.png" alt="Oscar">
                    <div>
                        <h4>Oscar in Group name</h4>
                        <h5>10 min ago</h5>
                    </div>
                </div>
                <div class="post-more">
                    <img src="../assets/icons/More.png" alt="More">
                </div>
            </div>
            <div class="image"></div>
            <div class="post-content">
                <p>Post description</p>
            </div>
            <div class="post-footer">
                <div class="post-likes">
                    <img src="../assets/icons/Heart.png" alt="heart">3 likes
                </div>
                <div class="post-comments">
                    <img src="../assets/icons/Comment.png" alt="comment">7 comments
                </div>
            </div>
        </div>
    </div>

</body>
</html>
